@import 'tailwindcss';

@theme {
  --breakpoint-sm: 30rem;
  --breakpoint-md: 60rem;
  --ease-standard: cubic-bezier(0.2, 0, 0, 1);
  --spacing-page-container: 69.5rem;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}
